<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    {{#if title}}
      <title>{{title}}</title>
    {{else}}
      <title>{{kebabCase name}}</title>
    {{/if}}

  </head>

  <body>
    <script src="/example/public/js/favicon.js"></script>
    <script src="/example/public/js/github.js"></script>
  </body>
</html>